<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/auth/reset-password-succes.css" rel="stylesheet" />
    <title>@Localizer["Password Reset Success"]</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="checkmark">
                ✅
            </div>
            <h2 class="h2">@Localizer["Password Reset Successfully!"]</h2>
            <p class="p">
                @Localizer["You can now"]
                <a class="a" asp-controller="Home" asp-action="Index">@Localizer["log in"]</a>
                @Localizer["with your new password."]
            </p>
        </div>
    </div>
</body>
</html>
