@{
    string? currentPage = ViewData["Title"] as string;
}

@if (currentPage != "Edit Profile") {
    <footer class="footer_section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-col">
                    <div class="footer_contact">
                        <h4>
                            @Localizer["Contact Us"]
                        </h4>
                        <div class="contact_link_box">
                            <a href="https://maps.app.goo.gl/a5pYNmnHUezxZEN66">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>
                                    @Localizer["Location - Bahruz Nuryiev, 55"]
                                </span>
                            </a>
                            <a href="">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span>
                                    @Localizer["Call"] +991 (50) 771 51 41
                                </span>
                            </a>
                            <a href="mailto:marknikulov11@gmail.com">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <span>
                                    marknikulov11@gmail.com
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <div class="footer_detail">
                        <a class="footer-title" asp-controller="Home" asp-action="Index">
                            MarcDonalds        
                        </a>
                        <p>
                            @Localizer["We Invite"]
                        </p>
                        <div class="footer_social">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-col">
                    <h4>
                        @Localizer["Opening Hours"]
                    </h4>
                    <p>
                        @Localizer["Everyday"]
                    </p>
                    <p>
                        @Localizer["07:00 - 23:00 PM"]
                    </p>
                </div>
            </div>
            <div class="footer-info">
                <p>
                    &copy; <span id="displayYear"></span> @Localizer["All Rights Reserved By Mark Nikulov"]<br>
                    &copy; <span id="displayYear"></span> @Localizer["Distributed By Mark Nikulov"]
                </p>
            </div>
        </div>
    </footer>
}